p Hi {{_vars.initiator.firstName}}
p 
  span Your vacations request for {{requester.firstName}} {{requester.lastName}} from
  strong  {{startDate}} 
  span to
  strong  {{endDate}} 
  span has been
  strong  APPROVED 